html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  padding: 2em 1em 2em 1em;
}

img.centre {
  display: inline-block;
}

.vertical-centre {
  display: flex;
  align-items: center;
}
