.stylised-font {
  font-family: 'Sacramento', Arial, sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: .5em;
  font-family: 'Poiret One', sans-serif;
}

nav ul li a {
  color: white;
}

p.header {
  font-size: 1.25em;
}

p.footer {
  padding: 0;
  margin: 0;
}

.text-centre {
  text-align: center;
}

.logo-text {
  margin: 0;
  padding: .5em;
  font-size: 5em;
}
