.stylised-font {
    font-family: 'Sacramento', sans-serif;
}

.regular-font,
.regular-font * {
    font-family: 'Open Sans', sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
    padding: .5em;
    font-family: 'Poiret One', sans-serif;
}

nav ul li a {
    color: white;
}

p.header {
    margin: 0;
    padding: 1em 0 0 0;
    font-size: 1.25em;
}

.footer *,
p.footer {
    font-size: .85em;
    padding: 0;
    margin: 0;
}

.text-centre {
    text-align: center;
}

.logo-text {
    margin: 0;
    padding: 0;
    font-size: 5em;
}
